{% macro social_macro(social, source, source_social_text, source_link, campaign) %}
        <tr>
            <td class="content">
                <table class="table-wrapper" bgcolor="ffffff" border="0" cellpadding="0" cellspacing="0" width="600">
                <tbody>
                    <tr>
                        <td class="hspacer" width="20">&nbsp;</td>
                        <td width="560">
                            <table class="columns-1" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="header">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</p>
                                    </td>
                                </tr>
                                {#
                                <tr>
                                    <td class="vspacer" height="0"></td>
                                </tr>
                                #}
                                <tr>
                                    <td>
                                        <p>{{ source_social_text }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="vspacer" height="10"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table bgcolor="ffffff" align="center" border="0" cellpadding="0" style="Margin: auto; margin-bottom: 10px;">
                                        <tbody>
                                            <tr>
                                                <td width="48">
                                                    <a href="{% if social.vkontakte %}{{ social.vkontakte }}?utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=vkontakte{% else %}http://{{ source_link }}/index.php?option=com_banners&amp;task=click&amp;bid=31&amp;utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=vkontakte{% endif %}" target="_blank">
                                                        <img width="48" height="48" src="http://{{ source_link }}/emailing/images/vkontakte.jpg" alt="ВКонтакте" style="width: 48px; height: 48px;">
                                                    </a>
                                                </td>
                                                <td class="hspacer" width="20">&nbsp;</td>
                                                <td width="48">
                                                    <a href="{% if social.facebook %}{{ social.facebook }}?utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=facebook{% else %}http://{{ source_link }}/index.php?option=com_banners&amp;task=click&amp;bid=30&amp;utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=facebook{% endif %}" target="_blank">
                                                        <img width="48" height="48" src="http://{{ source_link }}/emailing/images/facebook.jpg" alt="Facebook" style="width: 48px; height: 48px;">
                                                    </a>
                                                </td>
                                                <td class="hspacer" width="20">&nbsp;</td>
                                                <td width="48">
                                                    <a href="{% if social.twitter %}{{ social.twitter }}?utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=twitter{% else %}http://{{ source_link }}/index.php?option=com_banners&amp;task=click&amp;bid=32&amp;utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=twitter{% endif %}" target="_blank">
                                                        <img width="48" height="48" src="http://{{ source_link }}/emailing/images/twitter.jpg" alt="Твиттер" style="width: 48px; height: 48px;">
                                                    </a>
                                                </td>
                                                <td class="hspacer" width="20">&nbsp;</td>
                                                <td width="48">
                                                    <a href="{% if social.instagram %}{{ social.instagram }}?utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=instagram{% else %}http://{{ source_link }}/index.php?option=com_banners&amp;task=click&amp;bid=34&amp;utm_source={{ source }}&amp;utm_medium=email&amp;utm_campaign={{ campaign }}&amp;utm_content=instagram{% endif %}" target="_blank">
                                                        <img width="48" height="48" src="http://{{ source_link }}/emailing/images/instagram.jpg" alt="Инстаграм" style="width: 48px; height: 48px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </td>
                        <td class="hspacer" width="20">&nbsp;</td>
                    </tr>
                </tbody>
                </table>
            </td>
        </tr>
{% endmacro %}